<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src = "https://ajax.google.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/style.css') }}">
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/bookReccomendation.css') }}">
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/modal.css') }}">
        <script src = "{{ url_for('static', filename='js/mainScript.js') }}"></script>
        <script src = "{{ url_for('static', filename='js/bookReccomendation.js') }}"></script>

    </head>
    <body style="background-color: lightgrey;">
        <!-- Nav Bar -->

        <div class = "container" style = "position: absolute;">
            <div id = "mySidenav" class = "sidenav">
                <a href = "javascript:void(0)" class = "closebtn" onclick = "closeNav()">&times;</a>
                <a href = "home">Home</a>
                <a href = "movieReccomendation">Movies</a>
                <a href = "gameReccomendation">Video Games</a>
                <a href = "login" class = "fa fa-sign-in" style = "position: absolute; bottom: 65px;"> Log Out</a>
            </div>
        </div>
        <span style= "font-size:30px;cursor:pointer; margin-left: 30px;" onclick="openNav()">&#9776;</span>

        <!-- End of Nav Bar -->

        <!-- Start of Search Container -->
        <div class="w3-container" >
            <!-- Search Bar -->
            <div style="text-align: center;" id = "searchbar">
                <div style="left: 50%;">
                    <input id = "search" placeholder="Title" style = "text-align: center;">
                    <button id = "button" onclick = bookSearch() type = "button">Submit</button>
                </div>
            </div>
            <!-- End of Search Bar -->

            <!-- Start of results -->
            <div id = "results"></div>
            <!-- End of results -->
        </div>

        <!-- End Of Search Container -->

        <!-- Start of User List -->
        <div style="text-align: center;" class = "w3-container">
            <h2 id = "someId" style = "left: 50%;">Reccomended Books</h2>
            <div id = "yourList">
            </div>
        </div>
        
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src = "{{ url_for('static', filename='js/bookReccomendation.js') }}"></script>
    </body>
</html>