<!DOCTYPE html>
<html>
    <head>
        LOGIN PAGE
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src = "{{ url_for('static', filename='js/login.js') }}"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    </head>
    <body>
        
        <form name = "login" action = "" method = "get">
            <div class = "container" name = "loginInformation">
                <!-- <br></br> -->
                <!-- <input id = "username" placeholder="Enter Your Username"> -->
                <label for = "username"><b>Username</b></label>
                <input type = "text" name = "username" value = "" id = "username">
                <br></br>
                <!-- <input id = "password" placeholder="Enter Your Password"> -->
                <label for = "password"><b>Password</b></label>
                <input type = "text" name = "password" value = "" id = "password">
                <br></br>
                <button href = "../" id = "button" onclick = "return tryLogin()" type = "button">Submit</button>
                <!-- <button onclick = tryLogin() type = "button" >Log In</button> -->
            </div>
        </form>
        <!-- <script src = "main.js"></script> -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src = "{{ url_for('static', filename='js/login.js') }}"></script>
    </body>

</html>